<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="types" name="GroovyEclipse Types Extensions" schema="schema/org.codehaus.groovy.eclipse.core.types.exsd"/>
   <extension
         id="groovyFailure"
         name="GroovyFailureMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.jdt.core.problem"/>
      <super type="org.eclipse.core.resources.textmarker"/>
			<super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true" />
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
	  <factory class= "org.codehaus.groovy.eclipse.core.adapters.GroovyFileAdapterFactory"
			 adaptableType="org.eclipse.core.resources.IFile" >
			<adapter type= "org.codehaus.groovy.ast.ClassNode" />
			<adapter type="[Lorg.codehaus.groovy.ast.ClassNode;"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="org.codehaus.groovy.eclipse.core.ClasspathVariableInitializer"
            variable="GROOVY_HOME"/>
   </extension>
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="GROOVY_SUPPORT"
          class="org.codehaus.groovy.eclipse.core.builder.GroovyClasspathContainerInitializer"/>
   </extension>
</plugin>
