<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.resources.markers"
         id="compilerMismatch"
         name="Groovy compiler mismatch problem">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.jdt.core.buildpath_problem">
      </super>
   </extension>

   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            allowPrototypes="true"
            delegate="org.eclipse.jdt.launching.JavaLaunchDelegate"
            delegateDescription="Launches the Groovy Console and loads it with selected source"
            delegateName="Groovy Console Launcher"
            id="org.codehaus.groovy.eclipse.groovyConsoleLaunchConfiguration"
            modes="run"
            name="Groovy Console"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            allowPrototypes="true"
            delegate="org.eclipse.jdt.launching.JavaLaunchDelegate"
            delegateDescription="Launches an uncompiled Groovy script"
            delegateName="Groovy Script Launcher"
            id="org.codehaus.groovy.eclipse.groovyScriptLaunchConfiguration"
            modes="run,debug"
            name="Groovy Script"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            allowPrototypes="true"
            delegate="org.codehaus.groovy.eclipse.core.launchers.GroovyShellLaunchDelegate"
            delegateDescription="Launches a Groovy Shell using the current project as its classpath"
            delegateName="Groovy Shell Launcher"
            id="org.codehaus.groovy.eclipse.groovyShellLaunchConfiguration"
            modes="run,debug"
            name="Groovy Shell"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.codehaus.groovy.eclipse.core.builder.GroovyClasspathContainerInitializer"
            id="GROOVY_SUPPORT">
      </classpathContainerInitializer>
   </extension>

   <extension point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.codehaus.groovy.eclipse.core.compiler.CompilerCheckerParticipant"
            createsProblems="true"
            id="org.codehaus.groovy.eclipse.core.compiler.checker">
      </compilationParticipant>
      <compilationParticipant
            class="org.codehaus.groovy.eclipse.core.compiler.CompilerCleanerParticipant"
            id="org.codehaus.groovy.eclipse.core.compiler.cleaner">
      </compilationParticipant>
   </extension>

   <extension point="org.eclipse.jdt.groovy.core.typeLookup">
      <lookup
            lookup="org.codehaus.groovy.eclipse.core.inference.STCTypeLookup">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </lookup>
   </extension>
</plugin>
