<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.codehaus.groovy.eclipse.codeassist.completion.category"
         name="Groovy Content"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/groovy_file.gif"></proposalCategory>
   </extension>
   
   
  <extension
   			 name="Groovy Code Completions"
   			 id="org.codehaus.groovy.eclipse.codeassist.completion.groovy"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.codehaus.groovy.eclipse.codeassist.completion.category"
            class="org.codehaus.groovy.eclipse.codeassist.completion.jdt.GeneralGroovyCompletionProcessor">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
  <extension
   			 name="Groovy Local Variable Completions"
   			 id="org.codehaus.groovy.eclipse.codeassist.completion.local"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.codehaus.groovy.eclipse.codeassist.completion.category"
            class="org.codehaus.groovy.eclipse.codeassist.completion.jdt.LocalVariableProcessor">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
  <extension
   			 name="Default Groovy Method Completions"
   			 id="org.codehaus.groovy.eclipse.codeassist.completion.default"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.codehaus.groovy.eclipse.codeassist.completion.category"
            class="org.codehaus.groovy.eclipse.codeassist.completion.jdt.DefaultGroovyMethodProcessor">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
</plugin>
