<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point
         id="completionProposalFilter"
         name="Groovy Completion Proposals Filter"
         schema="schema/completionProposalFilter.exsd"
   />
   <extension-point
         id="completionProposalProvider"
         name="Groovy Completion Proposals Provider"
         schema="schema/completionProposalProvider.exsd"
   />

   <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
         id="org.codehaus.groovy.eclipse.codeassist.category"
         name="Groovy Proposals">
      <proposalCategory
            icon="$nl$/icons/groovy.png">
      </proposalCategory>
   </extension>

   <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
         id="org.codehaus.groovy.eclipse.codeassist.templates.category"
         name="Groovy Template Proposals">
      <proposalCategory
            icon="$nl$/icons/template.png">
      </proposalCategory>
   </extension>

   <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
         id="org.codehaus.groovy.eclipse.codeassist.completion.groovy"
         name="Groovy Code Completions">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.codehaus.groovy.eclipse.codeassist.category"
            class="org.codehaus.groovy.eclipse.codeassist.requestor.GroovyCompletionProposalComputer">
         <partition
               type="__dftl_partition_content_type">
         </partition>
         <partition
               type="__java_string">
         </partition>
         <!-- this is not an error; pde does not recognize this as a valid partition type -->
         <partition
               type="__groovy_multiline_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.codehaus.groovy.eclipse.codeassist.preferences.ContentAssistPreferenceInitializer">
      </initializer>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.codehaus.groovy.eclipse.preferences.editor"
            class="org.codehaus.groovy.eclipse.codeassist.preferences.ContentAssistPreferencesPage"
            id="org.codehaus.groovy.eclipse.codeassist.completion.preferences"
            name="Content Assist">
         <keywordReference
               id="org.codehaus.groovy.eclipse.codeassist.completion.keywords">
         </keywordReference>
      </page>
   </extension>

   <extension point="org.eclipse.ui.keywords"
         id="org.codehaus.groovy.eclipse.codeassist.completion.keywords">
      <keyword
            id="org.codehaus.groovy.eclipse.codeassist.completion.completion"
            label="completion">
      </keyword>
      <keyword
            id="org.codehaus.groovy.eclipse.codeassist.completion.assist"
            label="assist">
      </keyword>
      <keyword
            id="org.codehaus.groovy.eclipse.codeassist.completion.editor"
            label="editor">
      </keyword>
   </extension>
</plugin>
