<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.codehaus.groovy.m2eclipse.GroovyProjectConfigurator"
            id="org.codehaus.groovy.m2eclipse.configurator"
            name="Groovy-Eclipse"/>
   </extension>
    <extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource" />
</plugin>
