#Wed May 07 16:39:58 CEST 2008
#autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
autotestsuite.trace=true
pluginbuilder.features=org.codehaus.groovy.eclipse.feature,org.codehaus.groovy.alltests.feature,org.codehaus.groovy.jdt.patch
#org.codehaus.groovy.eclipse.testng.feature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
#pluginbuilder.svn.url=http\://svn.codehaus.org/groovy/trunk/groovy/ide/groovy-eclipse/
#autotestsuite.plugin.inclusions=.*(test|tests|AllTests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=false
