<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- use this extension point to ensure that the CompilerResolver starts before the model gets created -->
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="org.codehaus.groovy.frameworkadapter.util.ModelProcessor">
      </processor>
   </extension>
</plugin>
