<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            name="Groovy Quick Fix Processor"
            class="org.codehaus.groovy.eclipse.quickfix.processors.GroovyQuickFixProcessor"
            id="org.codehaus.groovy.eclipse.quickfix.GroovyQuickFixProcessor">
      </quickFixProcessor>
    </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.codehaus.groovy.eclipse.quickassist.GroovyQuickAssist"
            id="org.codehaus.groovy.eclipse.quickassist.groovy"
            name="Groovy Quick Assist">
      </quickAssistProcessor>
   </extension>
   
   <!-- Templates -->
   <extension point="org.eclipse.ui.editors.templates">
			<contextType
				name="Groovy"
				class="org.codehaus.groovy.eclipse.quickfix.templates.GroovyContextType"
				id="groovy" />
				
			<include
				file="templates/groovy-templates.xml" />
		</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.codehaus.groovy.eclipse.preferences.editor"
            class="org.codehaus.groovy.eclipse.quickfix.templates.GroovyTemplatesPreferencesPage"
            id="org.codehaus.groovy.eclipse.quickfix.preferencepage.template"
            name="Groovy Templates">
         <keywordReference
               id="org.codehaus.groovy.eclipse.quickfix.templates">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.codehaus.groovy.eclipse.editor.GroovyEditor"
            class="org.codehaus.groovy.eclipse.quickfix.templates.SurroundWithAdapterFactory">
         <adapter
               type="org.codehaus.groovy.eclipse.quickfix.templates.SurroundWithAdapterFactory">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.codehaus.groovy.eclipse.quickfix.actionSet"
            label="Groovy Surround with actions"
            visible="true">
         <action
               definitionId="org.codehaus.groovy.quickfix.surround.with.quickMenu"
               label="Groovy Surround with template"
               style="pulldown"
               class="org.codehaus.groovy.eclipse.quickfix.templates.SurroundWithTemplateMenuAction"
               id="org.codehaus.groovy.eclipse.quickfix.templates.SurroundWithTemplateMenuAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.codehaus.groovy.eclipse.editor.category.source"
            id="org.codehaus.groovy.quickfix.surround.with.quickMenu"
            name="Groovy code templates">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
       <key
            commandId="org.codehaus.groovy.quickfix.surround.with.quickMenu"
            contextId="org.codehaus.groovy.eclipse.editor.groovyEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+Z"/>        
       <key
            contextId="org.codehaus.groovy.eclipse.editor.groovyEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+Z"/>
       <key
            commandId="org.codehaus.groovy.quickfix.surround.with.quickMenu"
            contextId="org.codehaus.groovy.eclipse.editor.groovyEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="COMMAND+ALT+Z"/>
   </extension>
   <extension
         id="templates"
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.codehaus.groovy.eclipse.quickfix.templates"
            label="templates editor content assist groovy">
      </keyword>
   </extension>
   <extension
   			 id="org.codehaus.groovy.eclipse.quickfix.templates.proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="org.codehaus.groovy.eclipse.quickfix.templates.TemplateProposalComputer"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>
</plugin>
