<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.eclipse.jdt.groovy.core.tests.builder.groovyTestContent"
            name="Groovy content type for testing"
            base-type="org.eclipse.jdt.groovy.core.groovySource"
            file-extensions="groovytest"
            priority="normal">
      </content-type>
      <content-type
            id="org.eclipse.jdt.groovy.core.tests.builder.javaTestContent"
            name="Java content type for testing"
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="javatest"
            priority="normal">
      </content-type>
   </extension>
</plugin>
