<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright 2003-2009 the original author or authors.
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<plugin>
   <extension-point id="declarationSearch" name="Groovy Code Browsing" schema="schema/declarationSearch.exsd"/>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.codehaus.groovy.eclipse.editor.GroovyEditorScope"
            name="Editing Groovy Source"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.codehaus.groovy.eclipse.codebrowsing"
            name="Groovy - Navigation"/>
      <command
            categoryId="org.codehaus.groovy.eclipse.codebrowsing"
            id="org.codehaus.groovy.eclipse.codebrowsing.OpenDeclaration"
            name="Open Declaration"/>
      <command
            categoryId="org.codehaus.groovy.eclipse.codebrowsing"
            id="org.codehaus.groovy.eclipse.codebrowsing.ShowOutline"
            name="Show Outline">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.codehaus.groovy.eclipse.codebrowsing.OpenDeclaration"
            contextId="org.codehaus.groovy.eclipse.editor.GroovyEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
      <key
            commandId="org.codehaus.groovy.eclipse.codebrowsing.ShowOutline"
            contextId="org.codehaus.groovy.eclipse.editor.GroovyEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.codehaus.groovy.eclipse.codebrowsing.editorContribution"
            targetID="org.codehaus.groovy.eclipse.editor.GroovyEditor">
         <action
               class="org.codehaus.groovy.eclipse.codebrowsing.actions.OpenDeclarationAction"
               definitionId="org.codehaus.groovy.eclipse.codebrowsing.OpenDeclaration"
               id="org.codehaus.groovy.eclipse.codebrowsing.OpenDeclaration"
               label="Open Declaration"
               menubarPath="navigate/open.ext"
               style="push"/>
         <action
               class="org.codehaus.groovy.eclipse.codebrowsing.actions.ShowOutlineAction"
               definitionId="org.codehaus.groovy.eclipse.codebrowsing.ShowOutline"
               id="org.codehaus.groovy.eclipse.codebrowsing.ShowOutline"
               label="Show Outline"
               menubarPath="navigate/open.ext"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
		 point="org.eclipse.ui.popupMenus">
      <viewerContribution
			targetID="#GroovyEditorContext"
			id="org.codehaus.groovy.eclipse.codebrowsing.popupBrowseActions">
		 <action
			   label="Show Outline"
			   class="org.codehaus.groovy.eclipse.codebrowsing.actions.ShowOutlineAction"
			   menubarPath="additions"
			   definitionId="org.codehaus.groovy.eclipse.codebrowsing.ShowOutline"
			   id="org.codehaus.groovy.eclipse.codebrowsing.popup.ShowOutline">
		 </action>
   <action
         class="org.codehaus.groovy.eclipse.codebrowsing.actions.OpenDeclarationAction"
         definitionId="org.codehaus.groovy.eclipse.codebrowsing.OpenDeclaration"
         id="org.codehaus.groovy.eclipse.codebrowsing.popup.OpenDeclaration"
         label="Open Declaration"
         menubarPath="additions">
   </action>
	  </viewerContribution> 
   </extension>
   --> 
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.codehaus.groovy.eclipse.editor.GroovyEditor"
            class="org.codehaus.groovy.eclipse.codebrowsing.adapter.CodebrowsingEditorAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
   </extension>
  
</plugin>
