<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point
         id="codeSelectHelper"
         name="Code Selection Helper (Internal)"
         schema="schema/codeSelectHelper.exsd"
   />
   <extension-point
         id="typeLookup"
         name="Type Lookup"
         schema="schema/typeLookup.exsd"
   />

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
           base-type="org.eclipse.jdt.core.javaSource"
           file-extensions="groovy"
           id="org.eclipse.jdt.groovy.core.groovySource"
           name="Groovy Source File"
           priority="high"
      />
      <content-type
           base-type="org.eclipse.jdt.groovy.core.groovySource"
           file-extensions="gradle"
           id="org.eclipse.jdt.groovy.core.gradleScript"
           name="Gradle Build File"
           priority="low"
      />
   </extension>

   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.jdt.groovy.core.isGroovyProject">
         <adapt type="org.eclipse.core.resources.IResource">
            <instanceof value="org.eclipse.core.resources.IProject"/>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.jdt.groovy.core.groovyNature">
            </test>
        </adapt>
      </definition>
      <definition
            id="org.eclipse.jdt.groovy.core.isGroovySource">
         <adapt type="org.eclipse.core.resources.IResource">
            <instanceof value="org.eclipse.core.resources.IFile"/>
            <test
                  property="org.eclipse.core.resources.contentTypeId"
                  value="org.eclipse.jdt.groovy.core.groovySource">
            </test>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.jdt.groovy.core.groovyNature">
            </test>
         </adapt>
      </definition>
   </extension>

   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.jdt.groovy.core.GroovyPropertyTester"
            id="org.eclipse.jdt.groovy.core.propertyTester"
            namespace="org.eclipse.jdt.groovy.core"
            properties="hasMain,isScript"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>

   <extension point="org.eclipse.core.resources.markers"
         id="invalidBuilder"
         name="Invalid Builder Marker">
      <super
            type="org.eclipse.jdt.core.buildpath_problem">
      </super>
   </extension>

   <extension point="org.eclipse.core.resources.natures"
         id="groovyNature"
         name="Groovy Nature">
      <runtime>
         <run class="org.codehaus.jdt.groovy.model.GroovyNature"/>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <content-type
            id="org.eclipse.jdt.groovy.core.groovySource">
      </content-type>
   </extension>

   <extension point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="The location of the Groovy home used in this instance of Eclipse."
            name="groovy_home"
            resolver="org.eclipse.jdt.groovy.core.GroovyHomeVariable"
            supportsArgument="false">
      </variable>
   </extension>

   <extension point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.codehaus.jdt.groovy.internal.compiler.ScriptFolderCompilationParticipant"
            id="org.eclipse.jdt.groovy.core.script.copier">
      </compilationParticipant>
   </extension>
</plugin>
