<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="codeSelectHelper" name="Code Selection Helper (Internal)" schema="schema/codeSelectHelper.exsd"/>
   <extension-point id="typeLookup" name="Type Lookup" schema="schema/typeLookup.exsd"/>
	 <extension point="org.eclipse.core.contenttype.contentTypes">
	    <content-type
           base-type="org.eclipse.jdt.core.javaSource"
           file-extensions="groovy,gradle,gpp,grunit"
           id="org.eclipse.jdt.groovy.core.groovySource"
           name="Groovy Source File (for Groovy projects)"
           priority="high"/>
   </extension>
   
   <extension
         id="groovyNature"
         name="Groovy Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.codehaus.jdt.groovy.model.GroovyNature"/>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <content-type
            id="org.eclipse.jdt.groovy.core.groovySource">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.codehaus.jdt.groovy.internal.compiler.ScriptFolderCompilationParticipant"
            createsProblems="false"
            id="org.eclipse.jdt.groovy.core.compilationParticipant1"
            modifiesEnvironment="false">
      </compilationParticipant>
   </extension>
   
</plugin>
