<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point
         id="codeSelectHelper"
         name="Code Selection Helper (Internal)"
         schema="schema/codeSelectHelper.exsd"
   />
   <extension-point
         id="typeLookup"
         name="Type Lookup"
         schema="schema/typeLookup.exsd"
   />
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
           base-type="org.eclipse.jdt.core.javaSource"
           file-extensions="groovy"
           id="org.eclipse.jdt.groovy.core.groovySource"
           name="Groovy Source File"
           priority="high"
      />
   </extension>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
           base-type="org.eclipse.jdt.groovy.core.groovySource"
           file-extensions="gradle"
           id="org.eclipse.jdt.groovy.core.gradleScript"
           name="Gradle Build File"
           priority="low"
      />
   </extension>
   <extension
         id="groovyNature"
         name="Groovy Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.codehaus.jdt.groovy.model.GroovyNature"/>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <content-type
            id="org.eclipse.jdt.groovy.core.groovySource">
      </content-type>
   </extension>
   <extension point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.codehaus.jdt.groovy.internal.compiler.ScriptFolderCompilationParticipant"
            id="org.eclipse.jdt.groovy.core.compilationParticipant1"
            createsProblems="false"
            modifiesEnvironment="false">
         <managedMarker
               markerType="org.eclipse.jdt.groovy.core.">
         </managedMarker>
      </compilationParticipant>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="invalidBuilder"
         name="Invalid Builder Marker">
      <super
            type="org.eclipse.jdt.core.buildpath_problem">
      </super>
   </extension>
</plugin>
