<settings xmlns="https://maven.apache.org/POM/4.0.0" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!-- The test builds will use a sandbox maven local in their build directory.
		As a consequence test builds won't be able to resolve artifacts installed
		in our own *real* local repo. To be able to install locally and test before
		uploading artifacts to maven central we have to add the 'real' maven local
		as if it where remote repository. The code below does exactly that. -->
	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<pluginRepositories>
				<pluginRepository>
					<id>localTestsingPlugins</id>
					<name>localTesting</name>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
					<url>file://${user.home}/.m2/repository</url>
					<layout>default</layout>
				</pluginRepository>
				<pluginRepository>
					<id>bintray</id>
					<name>Groovy Bintray</name>
					<url>https://dl.bintray.com/groovy/maven</url>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
			<repositories>
				<repository>
					<id>localTestsing</id>
					<name>localTesting</name>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
					<url>file://${user.home}/.m2/repository</url>
					<layout>default</layout>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
