<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2002, 2009 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
     <extension point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.eclipse.jdt.core.tests.builder.TestBuilderParticipant"
            createsProblems="true"
            id="org.eclipse.jdt.core.tests.builder.compilationparticipant"
            modifiesEnvironment="true">
          <managedMarker markerType="org.eclipse.jdt.core.tests.compile.problem"/>
       </compilationParticipant>
   </extension>
</plugin>
