<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <view
            category="org.codehaus.groovy.eclipse.Groovy"
            class="org.codehaus.groovy.eclipse.astviews.ASTView"
            icon="platform:/plugin/org.codehaus.groovy.eclipse/groovy16.png"
            id="org.codehaus.groovy.eclipse.astviews.ASTView"
            name="Groovy AST Viewer">
      </view>
   </extension>
</plugin>
