<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright 2003-2009 the original author or authors.
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<plugin>
   <extension-point id="syntaxHighlightingExtension" name="Groovy Editor Syntax Highlighting Extension" schema="schema/syntaxHighlightingExtension.exsd"/>
   <extension-point id="outlineExtension" name="Groovy Outline Extension" schema="schema/outlineExtension.exsd"/>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.codehaus.groovy.eclipse.groovyShellLaunchConfiguration"
            icon="icons/run_groovy_class.gif"
            id="org.codehaus.groovy.eclipse.groovyLaunchConfigurationImage.groovyShell">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.codehaus.groovy.eclipse.groovyScriptLaunchConfiguration"
            icon="icons/run_groovy_class.gif"
            id="org.codehaus.groovy.eclipse.groovyLaunchConfigurationImage.groovyScript">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.codehaus.groovy.eclipse.groovyConsoleLaunchConfiguration"
            icon="icons/run_groovy_class.gif"
            id="org.codehaus.groovy.eclipse.groovyLaunchConfigurationImage.groovyConsole">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.codehaus.groovy.eclipse.launchers.GroovyShellLaunchConfigurationTabGroup"
            description="Launch an interactive Groovy Shell for a given project"
            id="org.codehaus.groovy.eclipse.groovyShellLaunchConfiguration.tabGroup"
            type="org.codehaus.groovy.eclipse.groovyShellLaunchConfiguration">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.codehaus.groovy.eclipse.launchers.GroovyScriptLaunchConfigurationTabGroup"
            description="Launch a Groovy Script"
            id="org.codehaus.groovy.eclipse.groovyScriptLaunchConfiguration.tabGroup"
            type="org.codehaus.groovy.eclipse.groovyScriptLaunchConfiguration">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.codehaus.groovy.eclipse.launchers.GroovyScriptLaunchConfigurationTabGroup"
            description="Launch a Groovy Console"
            id="org.codehaus.groovy.eclipse.groovyConsoleLaunchConfiguration.tabGroup"
            type="org.codehaus.groovy.eclipse.groovyConsoleLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.codehaus.groovy.eclipse.launchers.GroovyShellLaunchShortcut"
            description="Launch an interactive Groovy Shell in the given project"
            icon="icons/run_groovy_class.gif"
            id="org.codehaus.groovy.eclipse.debug.ui.groovyShellLaunchShortcut"
            label="Groovy Shell"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
              <iterate>
                  <test
	                    property="org.eclipse.debug.ui.projectNature"
                      value="org.eclipse.jdt.groovy.core.groovyNature">
                  </test>
              		<adapt type="org.eclipse.core.resources.IProject"/>
              </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Run a Groovy shell for the current project"
               mode="run">
         </description>
         <description
               description="Debug a Groovy shell for the current project"
               mode="debug">
         </description>
      </shortcut>
      <shortcut
            class="org.codehaus.groovy.eclipse.launchers.GroovyScriptLaunchShortcut"
            description="Run a Groovy script"
            icon="icons/run_groovy_class.gif"
            id="org.codehaus.groovy.eclipse.groovyScriptLaunchShortcut"
            label="Groovy Script"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.eclipse.debug.ui.projectNature"
                           value="org.eclipse.jdt.groovy.core.groovyNature">
                     </test>
                     <test property="org.codehaus.groovy.eclipse.ui.isScript"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Run a Groovy script"
               mode="run">
         </description>
         <description
               description="Debug a Groovy script"
               mode="debug">
         </description>
      </shortcut>
      <shortcut
            class="org.codehaus.groovy.eclipse.launchers.GroovyConsoleLaunchShortcut"
            description="Run a Groovy Console"
            icon="icons/run_groovy_class.gif"
            id="org.codehaus.groovy.eclipse.groovyConsoleLaunchShortcut"
            label="Groovy Console"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <or>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <test
                              property="org.eclipse.debug.ui.projectNature"
                              value="org.eclipse.jdt.groovy.core.groovyNature">
                        </test>
                        <or>
                        		<adapt type="org.eclipse.core.resources.IProject"/>
		                        <test property="org.codehaus.groovy.eclipse.ui.isScript"/>
                        </or> 
                     </iterate>
                  </with>
               </or>
            </enablement>
         </contextualLaunch>
         <description
               description="Run a Groovy console"
               mode="run">
         </description>
         <description
               description="Debug a Groovy console"
               mode="debug">
         </description>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.codehaus.groovy.eclipse.editor.GroovyEditor"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            default="true"
            extensions="groovy"
            icon="icons/groovy_file.gif"
            id="org.codehaus.groovy.eclipse.editor.GroovyEditor"
            name="Groovy Editor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont">
         <contentTypeBinding
               contentTypeId="org.eclipse.jdt.groovy.core.groovySource">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="org.codehaus.groovy.eclipse.editor.GroovyDocumentSetupParticipant"
         name="GroovyDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.codehaus.groovy.eclipse.editor.GroovyDocumentSetupParticipant"
            contentTypeId="org.eclipse.jdt.groovy.core.groovySource">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Groovy"
            id="org.codehaus.groovy.eclipse">
      </category>
      <wizard
            name="Groovy Class"
            icon="icons/newgroovyclass_wiz.gif"
            category="org.codehaus.groovy.eclipse"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,com.springsource.sts.grails.perspective"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="org.codehaus.groovy.eclipse.ui.groovyClassWizard">
         <class class="org.codehaus.groovy.eclipse.wizards.NewClassWizard">
            <parameter
                name="javatype"
                value="true">
            </parameter>
         </class>
         <description>
            Create a new Groovy class
         </description>
      </wizard>
      <wizard
            name="Groovy Project"
            icon="icons/newgroovyprj_wiz.gif"
            category="org.codehaus.groovy.eclipse"
            class="org.codehaus.groovy.eclipse.wizards.GroovyProjectWizard"
            descriptionImage="icons/full/newgroovyprj_wiz.gif"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,com.springsource.sts.grails.perspective"
						project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard">
         <description>
         		Create a new Groovy project
         </description>
      </wizard>
      <wizard
            category="org.codehaus.groovy.eclipse"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/newgroovytestsuite_wiz.gif"
            id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"
            name="Groovy Test Case"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,com.springsource.sts.grails.perspective">
         <class class="org.codehaus.groovy.eclipse.wizards.NewGroovyTestCaseWizard">
            <parameter
                name="javatype"
                value="true">
            </parameter>
         </class>
         <description>
            Create a new Groovy JUnit test suite
         </description>
      </wizard>
      <primaryWizard
            id="org.codehaus.groovy.eclipse.ui.groovyClassWizard">
      </primaryWizard>
      <primaryWizard
            id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard">
      </primaryWizard>
   </extension>
   <extension point="org.eclipse.ui.views">
      <category name="Groovy" id="org.codehaus.groovy.eclipse.Groovy" />
   </extension>
   
    <extension point="org.eclipse.ui.popupMenus">
  		<objectContribution id="org.codehaus.groovy.eclipse.groovyContributions"
   			adaptable="true"
   			objectClass="org.eclipse.core.resources.IProject">
			   <action
			         class="org.codehaus.groovy.eclipse.actions.RemoveGroovyNatureAction"
			         enablesFor="1"
			         id="org.codehaus.groovy.eclipse.removenature.action"
			         label="Remove Groovy nature"
			         menubarPath="groovy/nature">
			   </action>
			   <action
			         class="org.codehaus.groovy.eclipse.actions.ImportLibs"
			         enablesFor="1"
			         id="org.codehaus.groovy.eclipse.importlibs.action"
			         label="Add Groovy libs to classpath"
			         menubarPath="groovy/libs">
			   </action>
			   <visibility>
			      <objectState
			            name="nature"
			            value="org.eclipse.jdt.groovy.core.groovyNature">
			      </objectState>
			   </visibility>
		</objectContribution>
		
		<objectContribution id="org.codehaus.groovy.eclipse.groovyContributions"
 			adaptable="true"
 			objectClass="org.eclipse.core.resources.IFile">
			   <action
            class="org.codehaus.groovy.eclipse.editor.actions.RenameToGroovyAction"
            definitionId="org.codehaus.groovy.eclipse.ui.convertToGroovy"
            enablesFor="*"
            id="org.codehaus.groovy.eclipse.convertToGroovy.action"
            label="Convert file extension to Groovy"
            menubarPath="groovyfile/defaultGroup">
         <enablement>
            <objectState
                  name="extension"
                  value="java"/>
         </enablement>
			   </action>
				 <action
            class="org.codehaus.groovy.eclipse.editor.actions.RenameToJavaAction"
            definitionId="org.codehaus.groovy.eclipse.ui.convertToJava"
            enablesFor="*"
            id="org.codehaus.groovy.eclipse.convertToJava.action"
            label="Convert file extension to Java"
            menubarPath="groovyfile/defaultGroup"
            tooltip="Convert file to having a *.java extension">
          <enablement>
            <objectState
                  name="extension"
                  value="groovy">
            </objectState>
         </enablement>
			   </action>
		      <menu
            id="groovyfile"
            label="Groovy"
            path="additions">
         <separator
               name="defaultGroup">
         </separator>
      </menu>
      <visibility>
         <objectState 
            name="projectNature" 
            value="org.eclipse.jdt.groovy.core.groovyNature"/>
      </visibility>
		</objectContribution>

		<!--
		Restrict selection to be a project with a Groovy nature.
		Specifying an "IJavaProject" objectClass would mean that
		this contribution would become unavailable for web and EJB
		projects in IBM Rational 6.x tools.
		--> 
   		<objectContribution id="org.codehaus.groovy.eclipse.groovymenu"
   			adaptable="true"
   			objectClass="org.eclipse.core.resources.IProject">
	        <menu
	              id="groovy"
	              label="Groovy"
	              path="additions">
	           <separator name="defaultGroup"/>
             <separator
                  name="libs">
            </separator>
        </menu>
        <visibility>
           <objectState
                 name="nature"
                 value="org.eclipse.jdt.groovy.core.groovyNature">
           </objectState>
        </visibility>
		</objectContribution>

		<!-- In "Configure" sub-menu -->
    <objectContribution
           adaptable="true"
           id="org.codehaus.groovy.eclipse.nonGroovyContributions"
           objectClass="org.eclipse.core.resources.IProject">
        <action
              class="org.codehaus.groovy.eclipse.actions.AddGroovyNatureAction"
              enablesFor="1"
              id="org.codehaus.groovy.eclipse.addnature.action"
              label="Convert to Groovy Project"
              menubarPath="org.eclipse.ui.projectConfigure/additions">
        </action>
        <visibility>
         	<and>
	         	<objectState name="nature" value="org.eclipse.jdt.core.javanature"/>
	         	<not>
		         	<objectState name="nature" value="org.eclipse.jdt.groovy.core.groovyNature"/>
		        </not>
		        <objectState name="open" value="true"/>
		      </and>
        </visibility>
     </objectContribution>
     <objectContribution
           adaptable="true"
           id="org.codehaus.groovy.eclipse.legacyContributions"
           objectClass="org.eclipse.core.resources.IProject">
        <action
              class="org.codehaus.groovy.eclipse.actions.ConvertLegacyProjectAction"
              enablesFor="1"
              id="org.codehaus.groovy.eclipse.convert.action"
              label="Convert Legacy Groovy Project"
              menubarPath="org.eclipse.ui.projectConfigure/additions">
        </action>
        <visibility>
           <objectState
                 name="nature"
                 value="org.codehaus.groovy.eclipse.groovyNature">
           </objectState>
        </visibility>
     </objectContribution>
     
   <!--Our Toggle breakpoint action and JDT's other breakpoint actions-->
     <viewerContribution
            targetID="#GroovyCompilationUnitRulerContext"
            id="org.codehaus.groovy.eclipse.ui.CompilationUnitRulerPopupActions">
         <action
               label="Breakpoint P&amp;roperties..."
               helpContextId="breakpoint_properties_action_context"
               class="org.eclipse.jdt.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate"
               menubarPath="group.properties"
               id="org.eclipse.jdt.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate">
         </action>
         <action
               label="(Groovy) &amp;Toggle Breakpoint Enabled"
               helpContextId="enable_disable_breakpoint_action_context"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug"
               id="org.eclipse.jdt.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
         </action>
         <action
               helpContextId="manage_breakpoint_action_context"
               label="(Groovy) Toggle Breakpoint"
               class="org.codehaus.groovy.eclipse.debug.ui.GroovyBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="org.codehaus.groovy.eclipse.debug.ui.GroovyBreakpointRulerActionDelegate">
         </action>
         <action
               label="Add Task..."
               helpContextId="org.eclipse.ui.AddTask_action_context"
               tooltip="%AddTask.tooltip"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="Add Bookmark..."
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
         
         <!-- This adds "Quick Fix" action to the Groovy editor ruler context menu -->
		 <action
               label="Select Annotation ruler"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction"
               menubarPath="add"
               id="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction">
         </action> 
     </viewerContribution>
     
     <!-- Groovy Refactorings -->
     <viewerContribution
               id="org.codehaus.groovy.viewer.refactorings"
               targetID="#CompilationUnitEditorContext">
               <!--
        <action
              class="org.codehaus.groovy.eclipse.refactoring.actions.InlineMethodAction"
              definitionId="org.codehaus.groovy.eclipse.refactoring.command.inlineMethod"
              id="org.codehaus.groovy.eclipse.refactoring.inlineMethodViewer"
              label="Inline Method..."
              menubarPath="org.codehaus.groovy.refactoring.menu/refactoring"
              style="push"
              tooltip="Inline a groovy method">
        </action>
        <action
              class="org.codehaus.groovy.eclipse.refactoring.actions.ExtractMethodAction"
              definitionId="org.codehaus.groovy.eclipse.refactoring.command.extractMethod"
              id="org.codehaus.groovy.eclipse.refactoring.extractMethodViewer"
              label="Extract Method..."
              menubarPath="org.codehaus.groovy.refactoring.menu/refactoring"
              style="push"
              tooltip="Extract a groovy method from an expression">
        </action>
        -->
        <action
              class="org.codehaus.groovy.eclipse.refactoring.actions.RenameDispatcherAction"
              definitionId="org.codehaus.groovy.eclipse.refactoring.command.rename"
              id="org.codehaus.groovy.eclipse.refactoring.renameMethodViewer"
              label="Rename..."
              menubarPath="org.codehaus.groovy.refactoring.menu/refactoring"
              style="push"
              tooltip="Rename a groovy element">
        </action>
        <menu
              id="org.codehaus.groovy.refactoring.menu"
              label="Groovy Refac&amp;tor">
           <separator
                 name="refactoring">
           </separator>
        </menu>
     </viewerContribution>
     
     
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
       <actionSet
            label="Groovy Element Creation"
            visible="true"
            id="org.codehaus.groovy.eclipse.ui.groovyElementCreation">
         <action
               class="org.codehaus.groovy.eclipse.wizards.OpenGroovyProjectWizardAction"
               icon="icons/newgroovyprj_wiz.gif"
               id="opengroovyprojectwizard"
               label="Groovy Project..."
               toolbarPath="org.eclipse.jdt.ui.JavaElementCreationActionSet/JavaWizards"
               tooltip="New Groovy Project">
         </action>
        </actionSet>
       <actionSet
             description="Converts between groovy and java file extensions"
             id="org.codehaus.groovy.eclipse.conversion"
             label="Convert to or from groovy file extension"
             visible="false">
          <action
                class="org.codehaus.groovy.eclipse.editor.actions.RenameToGroovyAction"
                definitionId="org.codehaus.groovy.eclipse.ui.convertToGroovy"
                enablesFor="*"
                id="org.codehaus.groovy.eclipse.convertToGroovy.action"
                label="Convert file extension to Groovy">
             <enablement>
                <objectState
                      name="extension"
                      value="java">
                </objectState>
             </enablement>
          </action>
          <action
                class="org.codehaus.groovy.eclipse.editor.actions.RenameToJavaAction"
                definitionId="org.codehaus.groovy.eclipse.ui.convertToJava"
                enablesFor="*"
                id="org.codehaus.groovy.eclipse.convertToJava.action"
                label="Convert file extension to Java"
                tooltip="Convert file to having a *.java extension">
             <enablement>
                <objectState
                      name="extension"
                      value="groovy">
                </objectState>
             </enablement>
          </action>
       </actionSet>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
	   		<perspectiveExtension 
				targetID="org.eclipse.jdt.ui.JavaPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyClassWizard"/>					
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"/>
      <actionSet
            id="org.codehaus.groovy.eclipse.conversion">
      </actionSet>
	    	</perspectiveExtension>
			<perspectiveExtension 
				targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyClassWizard"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard"/>					
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"/>
      <actionSet
            id="org.codehaus.groovy.eclipse.conversion">
      </actionSet>
			</perspectiveExtension>
			<perspectiveExtension 
				targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyClassWizard"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard"/>					
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"/>
      <actionSet
            id="org.codehaus.groovy.eclipse.conversion">
      </actionSet>
			</perspectiveExtension>
    	<perspectiveExtension 
 			  targetID="org.eclipse.jst.j2ee.J2EEPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyClassWizard"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard"/>					
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"/>
      <actionSet
            id="org.codehaus.groovy.eclipse.conversion">
      </actionSet>
    	</perspectiveExtension>
			<perspectiveExtension 
				targetID="org.eclipse.pde.ui.PDEPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
      <actionSet
            id="org.codehaus.groovy.eclipse.conversion">
      </actionSet>
			</perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.codehaus.groovy.eclipse.preferences.GroovyPreferencePage"
            id="org.codehaus.groovy.eclipse.preferences"
            name="Groovy"/>
      <page
            category="org.codehaus.groovy.eclipse.preferences"
            class="org.codehaus.groovy.eclipse.preferences.GroovyEditorPreferencesPage"
            id="org.codehaus.groovy.eclipse.preferences.editor"
            name="Editor"/>
            <!--
      <page
            category="org.codehaus.groovy.eclipse.preferences"
            class="org.codehaus.groovy.eclipse.preferences.TemplatesPreferencePage"
            id="org.codehaus.groovy.eclipse.preferences.template"
            name="Templates">
      </page>
            -->
       <page
             category="org.codehaus.groovy.eclipse.preferences"
             class="org.codehaus.groovy.eclipse.preferences.FormatterPreferencesPage"
             id="org.codehaus.groovy.eclipse.preferences.formatter"
             name="Formatter">
       </page>
       <page
             category="org.codehaus.groovy.eclipse.preferences"
             class="org.codehaus.groovy.eclipse.preferences.CompilerPreferencesPage"
             id="org.codehaus.groovy.eclipse.preferences.compiler"
             name="Compiler">
       </page>
       <page
             category="org.codehaus.groovy.eclipse.preferences"
             class="org.codehaus.groovy.eclipse.preferences.DebuggerPreferencesPage"
             id="org.codehaus.groovy.eclipse.preferences.debugger"
             name="Debugger">
       </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run Groovy Shell"
            id="org.codehaus.groovy.eclipse.debug.ui.groovyShellLaunchShortcut.run"
            name="Run Groovy Shell"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug Groovy Shell"
            id="org.codehaus.groovy.eclipse.debug.ui.groovyShellLaunchShortcut.debug"
            name="Debug Groovy Shell"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run Groovy Console"
            id="org.codehaus.groovy.eclipse.groovyConsoleLaunchShortcut.run"
            name="Run Groovy Console"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug Groovy Console"
            id="org.codehaus.groovy.eclipse.groovyConsoleLaunchShortcut.debug"
            name="Debug Groovy Console"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run Groovy Script"
            id="org.codehaus.groovy.eclipse.groovyScriptLaunchShortcut.run"
            name="Run Groovy Script"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug Groovy Script"
            id="org.codehaus.groovy.eclipse.groovyScriptLaunchShortcut.debug"
            name="Debug Groovy Script"/>
      <command
            categoryId="org.codehaus.groovy.eclipse.refactoring.commands.refactoring"
            description="Converts a file with a groovy extension to a file with a java extension"
            id="org.codehaus.groovy.eclipse.ui.convertToJava"
            name="Convert to Java">
      </command>
      <command
            categoryId="org.codehaus.groovy.eclipse.refactoring.commands.refactoring"
            description="Converts a file with a java extension to a file with a groovy extension"
            id="org.codehaus.groovy.eclipse.ui.convertToGroovy"
            name="Convert to Groovy"/>
      <command
            categoryId="org.codehaus.groovy.eclipse.editor.category.source"
            description="Populates the search view with all occurrecnes of currently selected token in the file"
            id="org.codehaus.groovy.eclipse.ui.findOccurrences"
            name="Find occurrences in current file">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing Groovy Source Context"
            id="org.codehaus.groovy.eclipse.editor.groovyEditorScope"
            name="Editing Groovy Source"
            parentId="org.eclipse.jdt.ui.javaEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.codehaus.groovy.eclipse.groovyScriptLaunchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X G"/>
      <key
            commandId="org.codehaus.groovy.eclipse.groovyScriptLaunchShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D G"/>
      <key
            commandId="org.codehaus.groovy.eclipse.ui.convertToJava"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+G J"/>
      <key
            commandId="org.codehaus.groovy.eclipse.ui.convertToGroovy"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+J G"/>
            
      <!-- Now disable all of the M3+G commands for Swiss German since that conflicts with '@' -->      
      <key
            contextId="org.eclipse.ui.contexts.window"
            locale="de_CH"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+G J"/>
      <!-- Reenable commands using M1+M3+G for Swiss German -->      
      <key
            commandId="org.codehaus.groovy.eclipse.ui.convertToJava"
            contextId="org.eclipse.ui.contexts.window"
            locale="de_CH"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+G J"/>
            
      <!-- Disable the JDT find occurrences quick menu when in groovy files-->      
      <!--
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.search.occurrences.in.file.quickMenu"
            contextId="org.codehaus.groovy.eclipse.editor.groovyEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence=""/>
      -->  
      <!-- Use our command instead -->
      <key
            commandId="org.codehaus.groovy.eclipse.ui.findOccurrences"
            contextId="org.codehaus.groovy.eclipse.editor.groovyEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+U"/>
   </extension>
   <extension point="org.eclipse.debug.ui.consoleLineTrackers">
		<consoleLineTracker
			class="org.codehaus.groovy.eclipse.launchers.GroovyConsoleLineTracker"
			processType="java"
			id="org.codehaus.groovy.eclipse.launchers.GroovyConsoleLineTrackerForJava"/>
		<consoleLineTracker
			class="org.codehaus.groovy.eclipse.launchers.GroovyConsoleLineTracker"
			processType="groovy"
			id="org.codehaus.groovy.eclipse.launchers.GroovyConsoleLineTrackerForGroovy"/>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
          class="org.codehaus.groovy.eclipse.ui.GroovyResourcePropertyTester"
          id="org.codehaus.groovy.eclipse.ui.groovyResourcePropertyTester"
          namespace="org.codehaus.groovy.eclipse.ui"
          properties="isTest,hasMain,isScript"
          type="org.eclipse.core.runtime.IAdaptable"/>
	</extension>
	<extension
       point="org.eclipse.core.runtime.preferences">
    	<initializer class="org.codehaus.groovy.eclipse.preferences.PreferenceInitializer"/>
         <initializer
               class="org.codehaus.groovy.eclipse.preferences.FormatterPreferenceInitializer">
         </initializer>
	 	</extension>
	<extension
        point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
          class="org.codehaus.groovy.eclipse.ui.cpcontainer.GroovyClasspathContainerPage"
          id="GROOVY_SUPPORT"
          name="Groovy Runtime Libraries">
    </classpathContainerPage>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/groovy-project-overlay.gif"
          id="org.codehaus.groovy.eclipse.groovyNatureImage"
          natureId="org.eclipse.jdt.groovy.core.groovyNature">
    </image>
 </extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="org.codehaus.groovy.eclipse.ui.decorators.GroovyImageDecorator"
          id="org.codehaus.groovy.eclipse.ui.decorator"
          label="Groovy Source File"
          lightweight="false"
          state="true">
       <description>
          Shows an image for Groovy Source files.
       </description>
    </decorator>
<!-- Shows overlay for groovy elements, but only in package explorer and outline view
    <decorator
          adaptable="true"
          class="org.codehaus.groovy.eclipse.ui.decorators.GroovyElementDecorator"
          id="org.codehaus.groovy.eclipse.ui.decorators.GroovyElementDecorator"
          label="Groovy Element Decorator"
          lightweight="true"
          state="true">
       <enablement>
           <objectClass
                 name="org.eclipse.jdt.core.IMember">
           </objectClass>
       </enablement>
    </decorator>
    -->
 </extension>
	<extension point="org.eclipse.core.runtime.adapters">
         <factory 
            class="org.codehaus.groovy.eclipse.debug.ui.GroovyRetargettableActionAdapterFactory" 
            adaptableType="org.codehaus.groovy.eclipse.editor.GroovyEditor">
            <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
         </factory>
  		<factory adaptableType="org.eclipse.ui.IFileEditorInput"
        	class="org.codehaus.groovy.eclipse.adapters.GroovyIFileEditorInputAdapterFactory">
     		<adapter type="org.codehaus.groovy.ast.ClassNode"/>
	  	</factory>
    <factory
          adaptableType="org.codehaus.groovy.eclipse.editor.GroovyEditor"
          class="org.codehaus.groovy.eclipse.adapters.GroovyEditorAdapterFactory">
       <adapter
             type="org.codehaus.groovy.ast.ModuleNode">
       </adapter>
    </factory>
    </extension>
 <extension
       point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.codehaus.groovy.eclipse.editor.GroovyEditor"
            id="org.codehaus.groovy.editor.actions">
         <!--
         <menu
               id="org.codehaus.groovy.eclipse.refactoring.refactoringMenu"
               label="Groovy Refac&amp;tor"
               path="edit">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.codehaus.groovy.eclipse.refactoring.actions.RenameDispatcherAction"
               definitionId="org.codehaus.groovy.eclipse.refactoring.command.rename"
               id="org.codehaus.groovy.eclipse.refactoring.renameMethodMenu"
               label="Rename..."
               menubarPath="org.codehaus.groovy.eclipse.refactoring.refactoringMenu/content"
               style="push"
               tooltip="Rename a groovy element">
         </action>
         <action
               class="org.codehaus.groovy.eclipse.refactoring.actions.InlineMethodAction"
               definitionId="org.codehaus.groovy.eclipse.refactoring.command.inlineMethod"
               id="org.codehaus.groovy.eclipse.refactoring.inlineMethodMenu"
               label="Inline Method..."
               menubarPath="org.codehaus.groovy.eclipse.refactoring.refactoringMenu/content"
               style="push"
               tooltip="Inline a groovy method">
         </action>
         <action
               class="org.codehaus.groovy.eclipse.refactoring.actions.ExtractMethodAction"
               definitionId="org.codehaus.groovy.eclipse.refactoring.command.extractMethod"
               id="org.codehaus.groovy.eclipse.refactoring.extractMethodMenu"
               label="Extract Method..."
               menubarPath="org.codehaus.groovy.eclipse.refactoring.refactoringMenu/content"
               style="push"
               tooltip="Extract a groovy method from an expression">
         </action>
				 -->
				 <!-- Ruler actions -->
         <action
               label="Toggle Breakpoint"
               class="org.codehaus.groovy.eclipse.debug.ui.GroovyBreakpointRulerActionDelegate"
               actionID="RulerDoubleClick"
               id="org.groovy.codehaus.eclipse.ui.actions.ManageBreakpointRulerAction">
         </action>
         <action
               label="Select Annotation ruler"
               class="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction">
         </action>
       <action
             class="org.codehaus.groovy.eclipse.editor.actions.FindOccurrencesAction"
             definitionId="org.codehaus.groovy.eclipse.ui.findOccurrences"
             id="org.codehaus.groovy.eclipse.ui.action.findOccurrences"
             label="Find Occurrences in file"
             style="push">
       </action>
      </editorContribution>
 </extension>
 <extension
       point="org.eclipse.ui.editors.markerUpdaters">
    <updater
          class="org.codehaus.groovy.eclipse.debug.ui.BreakpointUpdater"
          id="org.codehaus.groovy.eclipse.breakpointUpdater"
          markerType="org.eclipse.debug.core.breakpointMarker">
    </updater>
 </extension>
 <extension
       point="org.eclipse.ui.actionSetPartAssociations">
    <actionSetPartAssociation
          targetID="org.eclipse.jdt.ui.CodingActionSet">
       <part
             id="org.codehaus.groovy.eclipse.editor.GroovyEditor">
       </part>
    </actionSetPartAssociation>
    <actionSetPartAssociation
          targetID="org.eclipse.jdt.ui.SearchActionSet">
       <part
             id="org.codehaus.groovy.eclipse.editor.GroovyEditor">
       </part>
    </actionSetPartAssociation>
    <actionSetPartAssociation
          targetID="org.eclipse.jdt.ui.JavaActionSet">
       <part
             id="org.codehaus.groovy.eclipse.editor.GroovyEditor">
       </part>
    </actionSetPartAssociation>
 </extension>
 <extension
       point="org.eclipse.jdt.debug.javaLogicalStructures">
    <javaLogicalStructure
          description="Groovy Reference Objects, used within Groovy closures"
          subtypes="true"
          type="groovy.lang.Reference"
          value="return get();">
    </javaLogicalStructure>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <newWizardShortcut
             id="org.codehaus.groovy.eclipse.ui.groovyClassWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.console.consoleFactories">
    <consoleFactory
          class="org.codehaus.groovy.eclipse.ui.console.GroovyConsoleFactory"
          icon="icons/run_groovy_class.gif"
          label="Groovy Event Console">
    </consoleFactory>
 </extension>
 
    <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="org.codehaus.groovy.eclipse.editor.GroovyExtraInformationHover"
            description="Used JavaDoc supplied by Groovy DSL"
            id="org.codehaus.groovy.eclipse.dsl.gdslhover"
            label="Groovy Information Hover">
      </hover>
   </extension>
 
</plugin>
