<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright 2003-2009 the original author or authors.
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<plugin>

   <extension
         id="org.codehaus.groovy.eclipse.groovy.launcher"
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.jdt.launching.JavaLaunchDelegate"
            id="org.codehaus.groovy.eclipse.groovyLaunchConfiguration"
            modes="run,debug"
            name="Groovy"
            sourceLocatorId="org.codehaus.groovy.eclipse.editor.groovySourceLocator">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.codehaus.groovy.eclipse.launchers.GroovyShellLaunchDelegate"
            id="org.codehaus.groovy.eclipse.groovyShellLaunchConfiguration"
            modes="run,debug"
            name="Groovy Shell"
            sourceLocatorId="org.codehaus.groovy.eclipse.editor.groovySourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/run_groovy_class.gif"
            configTypeID="org.codehaus.groovy.eclipse.groovyLaunchConfiguration"
            id="org.codehaus.groovy.eclipse.groovyLaunchConfigurationImage.groovyClass">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.codehaus.groovy.eclipse.groovyShellLaunchConfiguration"
            icon="icons/run_groovy_class.gif"
            id="org.codehaus.groovy.eclipse.groovyLaunchConfigurationImage.groovyShell">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.codehaus.groovy.eclipse.launchers.GroovyLaunchConfigurationTabGroup"
            description="Launch a Groovy Class or Script"
            id="org.codehaus.groovy.eclipse.groovyLaunchConfiguration.tabGroup"
            type="org.codehaus.groovy.eclipse.groovyLaunchConfiguration">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.codehaus.groovy.eclipse.launchers.GroovyShellLaunchConfigurationTabGroup"
            description="Launch an interactive Groovy Shell for a given project"
            id="org.codehaus.groovy.eclipse.groovyShellLaunchConfiguration.tabGroup"
            type="org.codehaus.groovy.eclipse.groovyShellLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.codehaus.groovy.eclipse.launchers.GroovyLaunchShortcut"
            description="Run a Groovy class or script"
            icon="icons/run_groovy_class.gif"
            id="org.codehaus.groovy.eclipse.debug.ui.groovyShortcut"
            label="Groovy"
            modes="run,debug">
         <contextualLaunch>
           <enablement>
              <with variable="selection">
                 <count value="1"/>
              <iterate>
                 <test property="org.eclipse.debug.ui.projectNature" value="org.eclipse.jdt.groovy.core.groovyNature"/>
                 <or>
					<test property="org.codehaus.groovy.eclipse.ui.hasMain"/>
					<test property="org.codehaus.groovy.eclipse.ui.isTest"/>
	             </or>
              </iterate>
              </with>
           </enablement>
        </contextualLaunch>
         <description
               description="Run a groovy class or script"
               mode="run">
         </description>
         <description
               description="Debug a groovy class or script"
               mode="debug">
         </description>
      </shortcut>
      <shortcut
            class="org.codehaus.groovy.eclipse.launchers.GroovyShellLaunchShortcut"
            description="Launch an interactive Groovy Shell in the given project"
            icon="icons/run_groovy_class.gif"
            id="org.codehaus.groovy.eclipse.debug.ui.groovyShellShortcut"
            label="Groovy Shell"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
              <iterate>
                  <test
	                    property="org.eclipse.debug.ui.projectNature"
                      value="org.eclipse.jdt.groovy.core.groovyNature">
                  </test>
              </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Run a groovy shell for the current project"
               mode="run">
         </description>
         <description
               description="Debug a groovy shell for the current project"
               mode="debug">
         </description>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.codehaus.groovy.eclipse.editor.GroovyEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="groovy"
            icon="icons/groovy_file.gif"
            id="org.codehaus.groovy.eclipse.editor.GroovyEditor"
            name="Groovy Editor">
         <contentTypeBinding
               contentTypeId="org.codehaus.groovy.eclipse.groovySource">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="org.codehaus.groovy.eclipse.editor.GroovyDocumentSetupParticipant"
         name="GroovyDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.codehaus.groovy.eclipse.editor.GroovyDocumentSetupParticipant"
            contentTypeId="org.eclipse.jdt.groovy.core.groovySource">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Groovy"
            id="org.codehaus.groovy.eclipse">
      </category>
      <wizard
            name="Groovy Class"
            icon="icons/newgroovyclass_wiz.gif"
            category="org.codehaus.groovy.eclipse"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="org.codehaus.groovy.eclipse.ui.groovyClassWizard">
         <class class="org.codehaus.groovy.eclipse.wizards.NewClassWizard">
            <parameter
                name="javatype"
                value="true">
            </parameter>
         </class>
         <description>
            Create a new Groovy class
         </description>
      </wizard>
      <wizard
            name="Groovy Project"
            icon="icons/newgroovyprj_wiz.gif"
            category="org.codehaus.groovy.eclipse"
            class="org.codehaus.groovy.eclipse.wizards.GroovyProjectWizard"
            descriptionImage="icons/full/newgroovyprj_wiz.gif"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
						project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard">
         <description>
         		Create a new Groovy project
         </description>
      </wizard>
      <wizard
            category="org.codehaus.groovy.eclipse"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/newgroovytestsuite_wiz.gif"
            id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"
            name="Groovy Test Case"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <class class="org.codehaus.groovy.eclipse.wizards.NewGroovyTestCaseWizard">
            <parameter
                name="javatype"
                value="true">
            </parameter>
         </class>
         <description>
            Create a new Groovy JUnit test suite
         </description>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.views">
      <category name="Groovy" id="org.codehaus.groovy.eclipse.Groovy" />
   </extension>
   
    <extension point="org.eclipse.ui.popupMenus">
  		<objectContribution id="org.codehaus.groovy.eclipse.groovyContributions"
   			adaptable="true"
   			objectClass="org.eclipse.core.resources.IProject">
			   <action
			         class="org.codehaus.groovy.eclipse.actions.RemoveGroovyNatureAction"
			         enablesFor="1"
			         id="org.codehaus.groovy.eclipse.removenature.action"
			         label="Remove Groovy nature"
			         menubarPath="groovy/nature">
			   </action>
			   <action
			         class="org.codehaus.groovy.eclipse.actions.ImportLibs"
			         enablesFor="1"
			         id="org.codehaus.groovy.eclipse.importlibs.action"
			         label="Add Groovy libs to classpath"
			         menubarPath="groovy/libs">
			   </action>
			   <visibility>
			      <objectState
			            name="nature"
			            value="org.eclipse.jdt.groovy.core.groovyNature">
			      </objectState>
			   </visibility>
		</objectContribution>
		
		<objectContribution id="org.codehaus.groovy.eclipse.groovyContributions"
 			adaptable="true"
 			objectClass="org.eclipse.core.resources.IFile">
			   <action
			         class="org.codehaus.groovy.eclipse.editor.actions.RenameToGroovyAction"
			         enablesFor="*"
			         id="org.codehaus.groovy.eclipse.convertToGroovy.action"
			         label="Convert file extension to Groovy"
			         menubarPath="groovyfile/defaultGroup">
         <enablement>
            <objectState
                  name="extension"
                  value="java">
            </objectState>
         </enablement>
			   </action>
			   <action
			         class="org.codehaus.groovy.eclipse.editor.actions.RenameToJavaAction"
			         enablesFor="*"
			         id="org.codehaus.groovy.eclipse.convertToJava.action"
			         label="Convert file extension to Java"
			         menubarPath="groovyfile/defaultGroup">
         <enablement>
            <objectState
                  name="extension"
                  value="groovy">
            </objectState>
         </enablement>
			   </action>
		      <menu
            id="groovyfile"
            label="Groovy"
            path="additions">
         <separator
               name="defaultGroup">
         </separator>
      </menu>
      <visibility>
         <objectState 
            name="projectNature" 
            value="org.eclipse.jdt.groovy.core.groovyNature"/>
      </visibility>
		</objectContribution>

		<!--
		Restrict selection to be a project with a Groovy nature.
		Specifying an "IJavaProject" objectClass would mean that
		this contribution would become unavailable for web and EJB
		projects in IBM Rational 6.x tools.
		--> 
   		<objectContribution id="org.codehaus.groovy.eclipse.groovymenu"
   			adaptable="true"
   			objectClass="org.eclipse.core.resources.IProject">
	        <menu
	              id="groovy"
	              label="Groovy"
	              path="additions">
	           <separator name="defaultGroup"/>
             <separator
                  name="libs">
            </separator>
        </menu>
        <visibility>
           <objectState
                 name="nature"
                 value="org.eclipse.jdt.groovy.core.groovyNature">
           </objectState>
        </visibility>
		</objectContribution>

		<!-- In "Configure" sub-menu -->
    <objectContribution
           adaptable="true"
           id="org.codehaus.groovy.eclipse.nonGroovyContributions"
           objectClass="org.eclipse.core.resources.IProject">
        <action
              class="org.codehaus.groovy.eclipse.actions.AddGroovyNatureAction"
              enablesFor="1"
              id="org.codehaus.groovy.eclipse.addnature.action"
              label="Convert to Groovy Project"
              menubarPath="org.eclipse.ui.projectConfigure/additions">
        </action>
        <visibility>
         	<and>
	         	<objectState name="nature" value="org.eclipse.jdt.core.javanature"/>
	         	<not>
		         	<objectState name="nature" value="org.eclipse.jdt.groovy.core.groovyNature"/>
		        </not>
		        <objectState name="open" value="true"/>
		      </and>
        </visibility>
     </objectContribution>
     <objectContribution
           adaptable="true"
           id="org.codehaus.groovy.eclipse.legacyContributions"
           objectClass="org.eclipse.core.resources.IProject">
        <action
              class="org.codehaus.groovy.eclipse.actions.ConvertLegacyProjectAction"
              enablesFor="1"
              id="org.codehaus.groovy.eclipse.addnature.action"
              label="Convert Legacy Groovy Project"
              menubarPath="org.eclipse.ui.projectConfigure/additions">
        </action>
        <visibility>
           <objectState
                 name="nature"
                 value="org.codehaus.groovy.eclipse.groovyNature">
           </objectState>
        </visibility>
     </objectContribution>
     
   <!--Our Toggle breakpoint action and JDT's other breakpoint actions-->
     <viewerContribution
            targetID="#GroovyCompilationUnitRulerContext"
            id="org.codehaus.groovy.eclipse.ui.CompilationUnitRulerPopupActions">
         <action
               label="Breakpoint P&amp;roperties..."
               helpContextId="breakpoint_properties_action_context"
               class="org.eclipse.jdt.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate"
               menubarPath="group.properties"
               id="org.eclipse.jdt.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate">
         </action>
         <action
               label="(Groovy) &amp;Toggle Breakpoint Enabled"
               helpContextId="enable_disable_breakpoint_action_context"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug"
               id="org.eclipse.jdt.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
         </action>
         <action
               helpContextId="manage_breakpoint_action_context"
               label="(Groovy) Toggle Breakpoint"
               class="org.codehaus.groovy.eclipse.debug.ui.GroovyBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="org.codehaus.groovy.eclipse.debug.ui.GroovyBreakpointRulerActionDelegate">
         </action>
     </viewerContribution>
     
     <!-- Groovy Refactorings -->
     <viewerContribution
               id="org.codehaus.groovy.viewer.refactorings"
               targetID="#CompilationUnitEditorContext">
         		<menu
               label="Groovy Refac&amp;toring"
               id="org.codehaus.groovy.refactoring.menu">
            <separator
               name="refactoring"/>
             </menu>
            <action
                  class="org.codehaus.groovy.eclipse.refactoring.actions.RenameDispatcherAction"
                  definitionId="org.codehaus.groovy.eclipse.refactoring.command.rename"
                  id="org.codehaus.groovy.eclipse.refactoring.renameMethodViewer"
                  label="Rename..."
                  menubarPath="org.codehaus.groovy.refactoring.menu/refactoring"
                  style="push"
                  tooltip="Rename a groovy element">
            </action>
           <action
                 class="org.codehaus.groovy.eclipse.refactoring.actions.ExtractMethodAction"
                 definitionId="org.codehaus.groovy.eclipse.refactoring.command.extractMethod"
                 id="org.codehaus.groovy.eclipse.refactoring.extractMethodViewer"
                 label="Extract Method..."
                 menubarPath="org.codehaus.groovy.refactoring.menu/refactoring"
                 style="push"
                 tooltip="Extract a groovy method from an expression">
           </action>
           <action
                 class="org.codehaus.groovy.eclipse.refactoring.actions.InlineMethodAction"
                 definitionId="org.codehaus.groovy.eclipse.refactoring.command.inlineMethod"
                 id="org.codehaus.groovy.eclipse.refactoring.inlineMethodViewer"
                 label="Inline Method..."
                 menubarPath="org.codehaus.groovy.refactoring.menu/refactoring"
                 style="push"
                 tooltip="Inline a groovy method">
           </action>
     </viewerContribution>
     
     
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
       <actionSet
            label="Groovy Element Creation"
            visible="true"
            id="org.codehaus.groovy.eclipse.ui.groovyElementCreation">
         <action
               class="org.codehaus.groovy.eclipse.wizards.OpenGroovyProjectWizardAction"
               icon="icons/newgroovyprj_wiz.gif"
               id="opengroovyprojectwizard"
               label="Groovy Project..."
               toolbarPath="org.eclipse.jdt.ui.JavaElementCreationActionSet/JavaWizards"
               tooltip="New Groovy Project">
         </action>
        </actionSet>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
	   		<perspectiveExtension 
				targetID="org.eclipse.jdt.ui.JavaPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyClassWizard"/>					
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"/>
      <actionSet
            id="org.codehaus.groovy.eclipse.refactoring.editorContribRefactoring">
      </actionSet>
	    	</perspectiveExtension>
			<perspectiveExtension 
				targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyClassWizard"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard"/>					
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"/>
      <actionSet
            id="org.codehaus.groovy.eclipse.refactoring.editorContribRefactoring">
      </actionSet>					
			</perspectiveExtension>
			<perspectiveExtension 
				targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyClassWizard"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard"/>					
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"/>
      <actionSet
            id="org.codehaus.groovy.eclipse.refactoring.editorContribRefactoring">
      </actionSet>					
			</perspectiveExtension>
    	<perspectiveExtension 
 			  targetID="org.eclipse.jst.j2ee.J2EEPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyClassWizard"/>
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyProjectWizard"/>					
						<newWizardShortcut id="org.codehaus.groovy.eclipse.ui.groovyJUnitWizard"/>
      <actionSet
            id="org.codehaus.groovy.eclipse.refactoring.editorContribRefactoring">
      </actionSet>					
    	</perspectiveExtension>
			<perspectiveExtension 
				targetID="org.eclipse.pde.ui.PDEPerspective">
						<actionSet id="org.codehaus.groovy.eclipse.ui.groovyElementCreation"/>
			</perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="Groovy Source Locator"
            class="org.codehaus.groovy.eclipse.launchers.GroovySourceLocator"
            id="org.codehaus.groovy.eclipse.editor.groovySourceLocator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.codehaus.groovy.eclipse.preferences.GroovyPreferencePage"
            id="org.codehaus.groovy.eclipse.preferences"
            name="Groovy"/>
      <page
            category="org.codehaus.groovy.eclipse.preferences"
            class="org.codehaus.groovy.eclipse.preferences.GroovyEditorPreferencesPage"
            id="org.codehaus.groovy.eclipse.preferences.editor"
            name="Editor"/>
      <page
            category="org.codehaus.groovy.eclipse.preferences"
            class="org.codehaus.groovy.eclipse.preferences.TemplatesPreferencePage"
            id="org.codehaus.groovy.eclipse.preferences.template"
            name="Templates">
      </page>
       <page
             category="org.codehaus.groovy.eclipse.preferences"
             class="org.codehaus.groovy.eclipse.preferences.FormatterPreferencesPage"
             id="org.codehaus.groovy.eclipse.preferences.formatter"
             name="Formatter">
       </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Open a GroovyConsole for the current project"
            id="org.codehaus.groovy.eclipse.command.RunGroovyConsole"
            name="Groovy Console"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run Groovy File"
            id="org.codehaus.groovy.eclipse.debug.ui.groovyShortcut.run"
            name="Run Groovy"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug Groovy File"
            id="org.codehaus.groovy.eclipse.debug.ui.groovyShortcut.debug"
            name="Debug Groovy"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.codehaus.groovy.eclipse.editor.GroovyEditorScope"
            name="Editing Groovy Source"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.codehaus.groovy.eclipse.debug.ui.groovyShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X G"/>
      <key
            commandId="org.codehaus.groovy.eclipse.debug.ui.groovyShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D G"/>
   </extension>
   <extension point="org.eclipse.debug.ui.consoleLineTrackers">
		<consoleLineTracker
			class="org.codehaus.groovy.eclipse.launchers.GroovyConsoleLineTracker"
			processType="java"
			id="org.codehaus.groovy.eclipse.launchers.GroovyConsoleLineTracker"/>
		<consoleLineTracker
			class="org.codehaus.groovy.eclipse.launchers.GroovyConsoleLineTracker"
			processType="groovy"
			id="org.codehaus.groovy.eclipse.launchers.GroovyConsoleLineTracker"/>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
          class="org.codehaus.groovy.eclipse.ui.GroovyResourcePropertyTester"
          id="org.codehaus.groovy.eclipse.ui.groovyResourcePropertyTester"
          namespace="org.codehaus.groovy.eclipse.ui"
          properties="isTest,hasMain"
          type="org.eclipse.core.runtime.IAdaptable"/>
	</extension>
	<extension
       point="org.eclipse.core.runtime.preferences">
    	<initializer class="org.codehaus.groovy.eclipse.preferences.PreferenceInitializer"/>
         <initializer
               class="org.codehaus.groovy.eclipse.preferences.FormatterPreferenceInitializer">
         </initializer>
	 	</extension>
	<extension
        point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
          class="org.codehaus.groovy.eclipse.ui.cpcontainer.GroovyClasspathContainerPage"
          id="GROOVY_SUPPORT"
          name="Groovy Runtime Libraries">
    </classpathContainerPage>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/groovy-project-overlay.gif"
          id="org.codehaus.groovy.eclipse.groovyNatureImage"
          natureId="org.eclipse.jdt.groovy.core.groovyNature">
    </image>
 </extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="org.codehaus.groovy.eclipse.ui.decorators.GroovyImageDecorator"
          id="org.codehaus.groovy.eclipse.ui.decorator"
          label="Groovy Source File"
          lightweight="false"
          state="true">
       <description>
          Shows an image for Groovy Source files.
       </description>
    </decorator>
 </extension>
	<extension point="org.eclipse.core.runtime.adapters">
         <factory 
            class="org.codehaus.groovy.eclipse.debug.ui.GroovyRetargettableActionAdapterFactory" 
            adaptableType="org.codehaus.groovy.eclipse.editor.GroovyEditor">
            <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
         </factory>
  		<factory adaptableType="org.eclipse.ui.IFileEditorInput"
        	class="org.codehaus.groovy.eclipse.adapters.GroovyIFileEditorInputAdapterFactory">
     		<adapter type="org.codehaus.groovy.ast.ClassNode"/>
	  	</factory>
    <factory
          adaptableType="org.codehaus.groovy.eclipse.editor.GroovyEditor"
          class="org.codehaus.groovy.eclipse.adapters.GroovyEditorAdapterFactory">
       <adapter
             type="org.codehaus.groovy.ast.ModuleNode">
       </adapter>
    </factory>
    </extension>
 <extension
       point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.codehaus.groovy.eclipse.editor.GroovyEditor"
            id="org.codehaus.groovy.BreakpointRulerActions">
         <action
               label="Toggle Breakpoint"
               class="org.codehaus.groovy.eclipse.debug.ui.GroovyBreakpointRulerActionDelegate"
               actionID="RulerDoubleClick"
               id="org.groovy.codehaus.eclipse.ui.actions.ManageBreakpointRulerAction">
         </action>
         <menu
               id="org.codehaus.groovy.eclipse.refactoring.refactoringMenu"
               label="Groovy Refac&amp;toring"
               path="edit">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.codehaus.groovy.eclipse.refactoring.actions.RenameDispatcherAction"
               definitionId="org.codehaus.groovy.eclipse.refactoring.command.rename"
               id="org.codehaus.groovy.eclipse.refactoring.renameMethodMenu"
               label="Rename..."
               menubarPath="org.codehaus.groovy.eclipse.refactoring.refactoringMenu/content"
               style="push"
               tooltip="Rename a groovy element">
         </action>
         <action
               class="org.codehaus.groovy.eclipse.refactoring.actions.InlineMethodAction"
               definitionId="org.codehaus.groovy.eclipse.refactoring.command.inlineMethod"
               id="org.codehaus.groovy.eclipse.refactoring.inlineMethodMenu"
               label="Inline Method..."
               menubarPath="org.codehaus.groovy.eclipse.refactoring.refactoringMenu/content"
               style="push"
               tooltip="Inline a groovy method">
         </action>
         <action
               class="org.codehaus.groovy.eclipse.refactoring.actions.ExtractMethodAction"
               definitionId="org.codehaus.groovy.eclipse.refactoring.command.extractMethod"
               id="org.codehaus.groovy.eclipse.refactoring.extractMethodMenu"
               label="Extract Method..."
               menubarPath="org.codehaus.groovy.eclipse.refactoring.refactoringMenu/content"
               style="push"
               tooltip="Extract a groovy method from an expression">
         </action>
      </editorContribution>
 </extension>
 <!--
 <extension
       point="org.eclipse.ui.editors.documentProviders">
    <provider
          class="org.codehaus.groovy.eclipse.editor.GroovyDocumentProvider"
          extensions="groovy"
          id="org.codehaus.groovy.eclipse.ui.provider">
    </provider>
 </extension>
 -->
</plugin>
