<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.groovy.core.groovySource"
            file-extensions="dsld"
            id="org.codehaus.groovy.eclipse.dsl.dsld"
            name="Groovy DSL Descriptor"
            priority="high">
      </content-type>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <category
            description="Commands related to DSLD management"
            id="org.codehaus.groovy.eclipse.dsl.command.category"
            name="DSLD-related commands">
      </category>
      <command
            categoryId="org.codehaus.groovy.eclipse.dsl.command.category"
            description="Refresh DSLD files for the given project"
            id="org.codehaus.groovy.eclipse.dsl.command.refresh"
            name="Refresh DSLDs">
      </command>
      <command
            categoryId="org.codehaus.groovy.eclipse.dsl.command.category"
            description="Perform static type checking on selected resources"
            id="org.codehaus.groovy.eclipse.dsl.command.check_types"
            name="Type check">
      </command>
      <command
            categoryId="org.codehaus.groovy.eclipse.dsl.command.category"
            description="Removes type checking annotations from selected resources"
            id="org.codehaus.groovy.eclipse.dsl.command.uncheck_types"
            name="Remove type checking annotations">
      </command>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.codehaus.groovy.eclipse.dsl.projectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.codehaus.groovy.eclipse.dsl.ui.DSLDClasspathContainerAction"
               enablesFor="1"
               id="org.codehaus.groovy.eclipse.dsl.action.add_container"
               label="Groovy DSL Support classpath container"
               menubarPath="groovy/configure"
               tooltip="Add or remove the Groovy DSL Support classpath container">
         </action>
         <action
               class="org.codehaus.groovy.eclipse.dsl.ui.RefreshDSLDFilesActionDelegate"
               definitionId="org.codehaus.groovy.eclipse.dsl.command.refresh"
               enablesFor="+"
               icon="platform:/plugin/org.eclipse.ui/$nl$/icons/full/elcl16/refresh_nav.png"
               id="org.codehaus.groovy.eclipse.dsl.action.refresh"
               label="Refresh DSLD cache"
               menubarPath="groovy/refresh"
               tooltip="Refresh Groovy DSLs for selected project(s)">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.eclipse.jdt.groovy.core.groovyNature">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.codehaus.groovy.eclipse.dsl.resourceContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.codehaus.groovy.eclipse.dsl.ui.RemoveCheckerWarnings"
               definitionId="org.codehaus.groovy.eclipse.dsl.command.uncheck_types"
               enablesFor="+"
               icon="platform:/plugin/org.eclipse.ui/$nl$/icons/full/etool16/clear_co.png"
               id="org.codehaus.groovy.eclipse.dsl.action.type_check.remove"
               label="Clear STC markers"
               menubarPath="groovy/analyze"
               tooltip="Remove static type checking markers from selected resource(s)">
         </action>
         <action
               class="org.codehaus.groovy.eclipse.dsl.ui.StaticTypeCheckAction"
               definitionId="org.codehaus.groovy.eclipse.dsl.command.check_types"
               enablesFor="+"
               icon="$nl$/icons/stc_warning.png"
               id="org.codehaus.groovy.eclipse.dsl.action.type_check"
               label="Check types"
               menubarPath="groovy/analyze"
               tooltip="Perform static type checking on selected resource(s)">
         </action>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.groovy.core.groovyNature">
               </objectState>
               <or>
                  <objectState
                        name="contentTypeId"
                        value="org.eclipse.jdt.groovy.core.groovySource">
                  </objectState>
                  <not>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                  </not>
               </or>
            </and>
         </visibility>
      </objectContribution>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.codehaus.groovy.eclipse.preferences"
            class="org.codehaus.groovy.eclipse.dsl.ui.DSLPreferencesPage"
            id="org.codehaus.groovy.eclipse.dsl.preferences"
            name="DSLD">
         <keywordReference
               id="org.codehaus.groovy.eclipse.ui.keyword.dsld">
         </keywordReference>
      </page>
      <page
            category="org.codehaus.groovy.eclipse.preferences.editor"
            class="org.codehaus.groovy.eclipse.dsl.inferencing.suggestions.preferencepage.InferencingPreferencesPage"
            id="org.codehaus.groovy.eclipse.dsl.inferencing.preferences"
            name="Inferencing Suggestions">
      </page>
   </extension>

   <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.codehaus.groovy.eclipse.dsl.classpath.DSLDClasspathContainerDecorator"
            id="org.codehaus.groovy.eclipse.dsl.dsldClasspathContainerDecorator"
            label="DSLD Enablement Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer"/>
         </enablement>
      </decorator>
   </extension>

   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="org.codehaus.groovy.eclipse.dsl.inferencing_problem"
            name="org.codehaus.groovy.eclipse.dsl.annotation.inferencing"
            super="org.eclipse.jdt.ui.warning">
      </type>
   </extension>

   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.codehaus.groovy.eclipse.dsl.annotation.inferencing"
            colorPreferenceKey="typeCheckIndicationColor"
            colorPreferenceValue="191,171,95"
            contributesToHeader="true"
            highlightPreferenceKey="typeCheckIndicationHighlighting"
            highlightPreferenceValue="false"
            icon="$nl$/icons/stc_warning.png"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="istypeCheckGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="istypeCheckGoToPreviousNavigationTarget"
            label="Groovy type check problem"
            overviewRulerPreferenceKey="typeCheckIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showtypeCheckInNextPrevDropdownToolbarAction"
            symbolicIcon="warning"
            textPreferenceKey="typeCheckIndication"
            textPreferenceValue="true"
            textStylePreferenceKey="typeCheckTextStyle"
            textStylePreferenceValue="DASHED_BOX"
            verticalRulerPreferenceKey="typeCheckIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.codehaus.groovy.eclipse"
            class="org.codehaus.groovy.eclipse.dsl.ui.NewDSLDWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="platform:/plugin/org.eclipse.ui.editors/$nl$/icons/full/etool16/new_untitled_text_file.png"
            id="org.codehaus.groovy.eclipse.dsld.newDsldWizard"
            name="Groovy DSL Descriptor"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.grails.ide.eclipse.perspective">
         <description>
            Create a DSL descriptor file
         </description>
         <keywordReference
               id="org.codehaus.groovy.eclipse.ui.keyword.dsld">
         </keywordReference>
      </wizard>
   </extension>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.codehaus.groovy.eclipse.dsl.classpath.DSLDContainerInitializer"
            id="GROOVY_DSL_SUPPORT">
      </classpathContainerInitializer>
   </extension>

   <extension point="org.eclipse.jdt.groovy.core.typeLookup">
      <lookup
            lookup="org.codehaus.groovy.eclipse.dsl.lookup.DSLDTypeLookup">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </lookup>
   </extension>

   <extension point="org.codehaus.groovy.eclipse.codeassist.completionProposalProvider">
      <proposalProvider
            description="Provides Groovy proposals generated from .dsld files"
            name="Groovy DSL Proposal Provider"
            proposalProvider="org.codehaus.groovy.eclipse.dsl.proposals.DSLDProposalProvider">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </proposalProvider>
   </extension>

   <extension point="org.codehaus.groovy.eclipse.codeassist.completionProposalFilter">
      <proposalFilter
            description="Resolves duplicate proposals introduced by a DLSD"
            name="Groovy DSL Proposal Filter"
            proposalFilter="org.codehaus.groovy.eclipse.dsl.proposals.DSLDProposalFilter">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </proposalFilter>
   </extension>

   <extension point="org.eclipse.core.resources.markers"
         id="inferencing_problem"
         name="Groovy type checking problem">
      <super type="org.eclipse.core.resources.textmarker"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.codehaus.groovy.eclipse.dsl.DSLPreferencesInitializer">
      </initializer>
   </extension>

   <extension point="org.eclipse.core.runtime.applications" id="staticCheck">
      <application
            cardinality="singleton-global"
            icon="platform:/plugin/org.codehaus.groovy.eclipse/$nl$/groovy32.png"
            thread="main"
            visible="true">
         <run
               class="org.codehaus.groovy.eclipse.dsl.checker.StaticCheckerApplication">
         </run>
      </application>
   </extension>
</plugin>
